.contain>div 
{
  position: fixed;
  width: 200px;
  height: 200px;
  background: -moz-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.top,.hand 
{
  top: 0;
}
.right 
{
  right: 0;
}
.bottom 
{
  bottom: 0;
}
.left 
{
  left: 0;
}
.contain .mid
{
  top: 32%;
  left: 38%;
  width: 250px;
  height: 250px;
  z-index: -1;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: -moz-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ui-button[title]
{
  visibility: hidden;
}
.ui-icon-closethick
{
  visibility: visible;
}
.hand,.div_content
{
  color: #fff;
  text-align: center;
}
.hand
{
  position: relative;
  background: #fff;
  width: 100%;
  height: 40px;
  margin: auto;
  background: -webkit-linear-gradient(to left, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: -moz-linear-gradient(to left, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.dialog_box
{
  display: none;
}
.div_content
{
  font-weight: 700;  
}